.BasicCard .card-img {
  width: 100%;
  height: 30vw;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.2);
}

.hover-shadow {
  transition: box-shadow 0.5s;
}

.hover-shadow:hover {
  transition: box-shadow 0.5s;
  box-shadow: 0 0 30px rgba(33, 33, 33, 0.5);
}

.voteBlock {
  position: absolute;
  bottom: -11px;
  right: 10px;
  display: inline-flex;
  font-weight: 700;
}

.voteHeart {
  margin-left: 3px;
}

.voteHeart:hover {
  color: red;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  [class*="card-img"] {
    height: 50vw;
  }
}
