.custom-navbar {
  background-color: rgb(242, 168, 105);
  padding: 1.1rem;
}

.navbar-brand {
  font-weight: bolder;
  font-size: x-large;
  padding: 10px;
}

.navbar-brand:hover {
  background-color: rgb(244, 153, 73);
  text-decoration: underline;
}

a:link {
  color: #265301;
}
