.main-body {
  color: white;
}

.subtitle-text {
  /* font-size: 1.6vw; */
  font-size: 25px;
  font-weight: 500;
}

.title-text {
  /* font-size: 5vw; */
  font-size: 80px;
  font-weight: bolder;
}

.desc-text {
  font-size: 17px;
  font-weight: 100;
}
